<form action="{{ action if defined('action') else '/login'}}" method='POST'>
    <input type='text' name='username' placeholder='Username'/>
    <input type='password' name='password' placeholder='Password'/>
    <input type='submit' value="login"/>
</form>