body {
	background-color: #789fd3;
	font-family: "Helvetica Neue","Arial","sans-serif";
}

ul {
    padding:0;
}



#wrapper{
    background-color: white;
    width: 650px;
    padding: 20px 20px 0px;
    margin: auto;
}

#nav li{
    display: inline;
    list-style-type: none;
    padding-right: 5px;
}

.error{
    color: red
}

.post{
    margin-bottom: 20px;
    padding: 5px;
    border: solid 1px #ccc;
}

.post-image{
    max-width:100%;
}

.hidden{
    display: none;
}


#footer{
    padding: 20px 0;
    font-size:12px;
    text-align: center;
}

#search{
    float: right;
}

.comment-box{
    /*border: 1px solid #ccc;*/
}


.comment-box ul li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
    font-size: 12px;
}

.author{
    font-size: 12px;
    font-weight: bold;
}

img.avatar{
    max-width:100px;
}

.post-avatar{
    max-width:40px;
}

.tag-list li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
    font-size: 12px;
}

.post button{
    width: 90px;
    font-size: 12px;
}

.submit_form{
    border: solid thin #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.submit_form input, textarea{
    margin: 15px 10px;
    vertical-align: middle;
}

.submit_form h2{
    margin: 0;
    font-size: 16px;
}

span.info{
    font-size:12px;
}